@use 'sass:math';

body {
	color: var(--text-main);
	@include common-value('font-size', $fz);
	font-weight: 600;
	$lh: 22;
	line-height: math.div($lh, $fz);
	letter-spacing: 0em;
	font-style: normal;
	background-color: var(--white--dark);
}

b {
	font-weight: 700;
}

// ._h1 {
// 	$fs: 36;
// 	font-size: math.div($fs, $fz) + em;
// 	$lh: 45;
// 	line-height: math.div($lh, $fs);
// 	font-weight: 600;
// }

._button {
	transition: all 0.15s ease;
	cursor: pointer;
	padding: var(--adaptive-7) var(--adaptive-7) var(--adaptive-16) var(--adaptive-16);
	border-radius: 7px;
	color: #ffffff;
	background-color: var(--text-main);
	&:hover:not(:disabled) {
		box-shadow: -2px 2px 0 #000000;
		transform: translateX(1px) translateY(-1px);
	}
	&:active {
		box-shadow: 0 0 0 #000000;
		transform: translateX(0) translateY(0);
	}
	&--bright {
		color: #ffffff;
		background-color: var(--main);
		&:hover {
			color: #ffffff;
			background-color: var(--hover);
		}
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
