@use 'sass:math';

body {
	color: var(--text-main);
	@include common-value('font-size', $fz);
	font-weight: 600;
	$lh: 22;
	line-height: math.div($lh, $fz);
	letter-spacing: 0em;
	font-style: normal;
	background-color: var(--white--dark);
}

b {
	font-weight: 700;
}

._title {
	font-family: 'CoreSansC';
}

._ribbon {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: calc(0px - var(--adaptive-22));
		translate: 0 -50%;
		width: var(--adaptive-7);
		height: 83.6%;
		background-color: var(--main);
	}
}

._h2 {
	$fs: 28;
	font-size: math.div($fs, $fz) + em;
	$lh: 31;
	line-height: math.div($lh, $fs);
	letter-spacing: 0.56px;
	margin-top: var(--adaptive-100);
	margin-bottom: var(--adaptive-31);
}

// ._h1 {
// 	$fs: 36;
// 	font-size: math.div($fs, $fz) + em;
// 	$lh: 45;
// 	line-height: math.div($lh, $fs);
// 	font-weight: 600;
// }

._button {
	cursor: pointer;
	transition-duration: var(--transition);
	color: var(--not-white);
	display: flex;
	align-items: center;
	column-gap: var(--adaptive-13);
	padding: var(--adaptive-13) var(--adaptive-40) var(--adaptive-13) var(--adaptive-40);
	background-color: var(--main);
	border-radius: var(--adaptive-7);
	&:hover:not(:disabled) {
		box-shadow: -2px 2px 0 #000000;
		transform: translateX(1px) translateY(-1px);
	}
	&:active {
		box-shadow: 0 0 0 #000000;
		transform: translateX(0) translateY(0);
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
