$fontFamily: 'Causten';
$fz: 16;

$maxWidth: 2560;
$minWidth: 280;

$mobileSpace: 40;
$mdSpace: 79.95;

$minContainer: $minWidth - $mobileSpace;

/* Container variant 1 */

// $md1: 1919.95;
// $md2: 1535.95;
// $md3: 1365.95;
// $md4: 1023.95;

// $maxContainer: $md1 - $mdSpace;
// $desctopContainer: $md2 - $mdSpace;
// $laptopContainer: $md3 - $mdSpace;
// $padContainer: $md4 - $mdSpace;

/* --- */

/* Container variant 2 */

$mobileContainer: 640;
$padContainer: 940;
$laptopContainer: 1240;
$desctopContainer: 1540;
$maxContainer: 1840;

$md1: $maxContainer + $mdSpace;
$md2: $desctopContainer + $mdSpace;
$md3: $laptopContainer + $mdSpace;
$md4: $padContainer + $mdSpace;
$md5: $mobileContainer + $mobileSpace - 0.05;
