.category
	.category__container._container
		.category__catalog
			include _filter.pug
			include _goods.pug
		.category__description
			h2 Clothing for Women Online in India
			h3 Reexplore Women's Clothing Collection Online at Euphoria
			p Women's Clothing – Are you searching for the best website to buy Clothing for Women online in India? Well, your search for the coolest and most stylish womens clothing ends here. From trendy Casual Womens Wear Online shopping to premium quality cotton women's apparel, Euphoria has closet of Women Collection covered with the latest and best designs of Women's Clothing Online.
			p Our collection of clothes for women will make you the trendsetter with an iconic resemblance of choice in Womens Wear. 
			h3 One-Stop Destination to Shop Every Clothing for Women: Euphoria
			p Today, Clothing for Women is gaining more popularity above all. This is because gone are the days when women were used to carrying uncomfortable fashion. Today, a lady looks prettier when she is in Casual Womens Wear which is a comfortable outfit. Concerning this, #[b Euphoria] has a big fat range of Stylish Women's Clothing that would make her the winner wherever she goes.
			p Our collection of clothes for women will make you the trendsetter with an iconic resemblance of choice in Womens Wear. It is quite evident to say that there are very few Womens Clothing online stores where you can buy Western Wear for Women comprising the premium material and elegant design that you are always seeking for. Basically, 
			a.category__see-more-link(href="/") See More
			h2 Buy Women's Clothing at Best Price
			table
				tr
					th Women's Clothing
					th Best Price
				tr
					td Pick Any 4- Womens Plain T-shirt Combo
					td ₹1099
				tr
					td Pick Any 4- Plain Womens Boxer Combo
					td ₹1099
				tr
					td Pick Any 4 - Women Plain Full Sleeve T-shirt Combo
					td ₹1399
				tr
					td Multicolor Checkered Long Casual Shirts for Women
					td ₹499
				tr
					td Pick Any 2: Plain Boxy Casual Shirts for Women Combo
					td ₹799
				tr
					td Blue Floral Anarkali Kurti
					td ₹599
				tr
					td Jade Black Narrow Cut Flexible Women Jeggings
					td ₹998
				tr
					td Mustard-yellow Solid Straight-Fit Women Pant
					td ₹499
				tr
					td Women Pants Combo - Pick Any 2
					td ₹800
				tr
					td Pista Green Solid Boxy Casual Shirts for Women
					td ₹449
				tr
					td Plain Burgundy Womens Boxer
					td ₹349
				tr
					td Striped Front Tie Casual Shirts for Women
					td ₹449