include ../_bd.pug

.category
	.category__container._container
		.category__catalog
			button.filter-button._icon-filtter._lmr
			include _filter.pug
			include _goods.pug
		.category__description.description
			h2.description__h2 Clothing for Women Online in India
			h3.description__h3 Reexplore Women's Clothing Collection Online at Euphoria
			p.description__p Women's Clothing – Are you searching for the best website to buy Clothing for Women online in India? Well, your search for the coolest and most stylish womens clothing ends here. From trendy Casual Womens Wear Online shopping to premium quality cotton women's apparel, Euphoria has closet of Women Collection covered with the latest and best designs of Women's Clothing Online.
			p.description__p Our collection of clothes for women will make you the trendsetter with an iconic resemblance of choice in Womens Wear. 
			h3.description__h3 One-Stop Destination to Shop Every Clothing for Women: Euphoria
			p.description__p Today, Clothing for Women is gaining more popularity above all. This is because gone are the days when women were used to carrying uncomfortable fashion. Today, a lady looks prettier when she is in Casual Womens Wear which is a comfortable outfit. Concerning this, #[b Euphoria] has a big fat range of Stylish Women's Clothing that would make her the winner wherever she goes.
			p.description__p Our collection of clothes for women will make you the trendsetter with an iconic resemblance of choice in Womens Wear. It is quite evident to say that there are very few Womens Clothing online stores where you can buy Western Wear for Women comprising the premium material and elegant design that you are always seeking for. Basically, 
			a.description__see-more-link(href="/") See More
			h2.description__h2 Buy Women's Clothing at Best Price
			section._section
				table.description__table
					-
						let tableCounter = 0;
					each tr in table
						tr.description__tr
						-
							let trCounter = 0;					
						each td in tr
							-
								let tdthTag = 'td';
								let tdClass = 'description__td';
								if(tr === table[0]) {
									tdthTag = 'th'
									tdClass = 'description__th';
									} else if (tr === table[1]) {
										tdClass+= ' description__td--under-th';
									} else if (tr === table[table.length - 1]) {
										tdClass+= ' description__td--last-row';
									};
								if(trCounter === 0 ) tdClass+= ' description__' + tdthTag + '--first-element';
							#{tdthTag}(class=tdClass) #{td}
							-
								trCounter++
						-
							tableCounter++;
