@use 'sass:math';
.card {
	@include common-value('--left-block', 640);
	&__container {
	}

	&__body {
		display: grid;
		grid-template: var(--adaptive-52) auto/ 51% 43%;
		column-gap: 6%;
	}

	&__gallery {
		align-self: center;
		height: 500px;
		min-width: 0;
		display: flex;
		align-items: center;
		@media (min-width: $md3+px) {
			height: 785px;
		}
		@media (min-width: $md4+px) {
			grid-row: span 2;
		}
		@media (max-width: $md4+px) {
			grid-row-start: 2;
			grid-column: span 2;
		}
	}

	&__mini-slider {
	}

	&__main-slider {
	}

	&__info {
		@media (max-width: $md4+px) {
			grid-column: span 2;
			grid-row-start: 3;
		}
	}

	&__breadcrumbs {
		color: var(--text-second);
		display: flex;
		align-items: center;
		@media (min-width: $md4+px) {
			padding-top: var(--adaptive-31);
		}
	}

	&__bread {
		display: inline-flex;
		@media (hover: hover) {
			&:hover {
				color: var(--main);
			}
		}
		&:active,
		&:focus-visible {
			color: var(--main);
		}
		&:not(:first-child) {
			margin-left: var(--adaptive-7);
			&:before {
				$fs: 15;
				font-size: math.div($fs, $fz) + em;
				content: '\e911';
				font-family: 'icons' !important;
				line-height: 1;
				vertical-align: bottom;
				transform: rotate(90deg);
				margin-right: var(--adaptive-13);
			}
		}
	}

	&__title {
		font-family: 'CoreSansC';
		$fs: 34;
		font-size: math.div($fs, $fz) + em;
		line-height: 1.4;
		letter-spacing: 0.68px;
		text-wrap: balance;
		margin-top: var(--adaptive-31);
		margin-bottom: var(--adaptive-31);
	}

	&__rating {
		display: flex;
		align-items: center;
	}

	&__stars {
		display: flex;
		align-items: center;
		column-gap: var(--adaptive-10);
		margin-right: var(--adaptive-25);
	}

	&__star {
		width: var(--adaptive-22);
		height: var(--adaptive-22);
		background-color: var(--light);
		-webkit-mask-image: url(../img/svg/star.svg);
		-webkit-mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		margin-bottom: var(--adaptive-4);
		&--full {
			background-color: var(--gold);
		}
	}

	&__stars-num {
		color: var(--text-second);
		font-weight: 500;
		margin-left: var(--adaptive-4);
	}

	&__comment-counts {
		color: var(--text-second);
		font-weight: 500;
		display: flex;
		align-items: center;
		&::before {
			$fs: 22;
			font-size: math.div($fs, $fz) + em;
			margin-right: var(--adaptive-16);
			margin-bottom: var(--adaptive-4);
		}
	}

	&__select-characters {
		display: flex;
		flex-wrap: wrap;
		margin-top: var(--adaptive-34);
		margin-bottom: var(--adaptive-40);
	}

	&__character {
		margin-right: var(--adaptive-19);
	}

	&__download {
		color: var(--text-second);
		font-weight: 500;
	}

	&__change {
		display: flex;
		flex-basis: 100%;
		align-items: center;
		&--size {
			margin-top: var(--adaptive-22);
			column-gap: var(--adaptive-25);
		}

		&--color {
			margin-left: 4px;
			margin-top: var(--adaptive-28);
			column-gap: var(--adaptive-22);
		}
	}

	&__size {
		transition-duration: var(--transition);
		$fs: 14;
		font-size: math.div($fs, $fz) + em;
		$lh: 17;
		line-height: math.div($lh, $fs);
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--adaptive-37);
		height: var(--adaptive-37);
		border: var(--adaptive-1) solid var(--light);
		border-radius: var(--adaptive-13);
		@media (hover: hover) {
			&:hover {
				box-shadow: var(--dark--light) 0 0 0 1px;
			}
		}
		&:focus-visible {
			box-shadow: var(--dark--light) 0 0 0 1px;
		}
		&._active {
			color: var(--light--dark);
			background-color: var(--dark--light);
			border-color: var(--dark);
		}
	}

	&__color {
		transition-duration: var(--transition);
		width: var(--adaptive-22);
		height: var(--adaptive-22);
		background-color: var(--dark--light);
		border-radius: 50%;
		&._active {
			box-shadow: var(--light--dark) 0 0 0 3px, var(--dark--light) 0 0 0 4px;
		}
	}

	&__price-information {
		display: flex;
		column-gap: var(--adaptive-25);
	}

	&__button {
		&::before {
			// margin-bottom: var(--adaptive-4);
		}
	}

	&__price {
		font-weight: 700;
		padding: var(--adaptive-13) var(--adaptive-40) var(--adaptive-13) var(--adaptive-40);
		border: var(--adaptive-1) solid var(--dark--light);
		border-radius: var(--adaptive-7);
	}

	&__advantages {
		display: grid;
		grid-template: 1fr 1fr/1fr 1fr;
		column-gap: var(--adaptive-34);
		row-gap: var(--adaptive-25);
		margin-top: var(--adaptive-34);
		padding-top: var(--adaptive-40);
		border-top: var(--adaptive-1) solid var(--light);
	}

	&__advantage {
		font-weight: 500;
		display: flex;
		align-items: center;
	}

	&__advantage-img {
		margin-right: var(--adaptive-16);
		width: var(--adaptive-43);
		height: var(--adaptive-43);
	}

	&__subtitle {
		margin-top: var(--adaptive-100);
		margin-bottom: var(--adaptive-7);
		grid-column: span 2;
	}

	&__description {
	}

	&__video-wrapper {
		@media (min-width: $md4+px) {
			margin-top: calc(0px - var(--adaptive-16));
		}
		@media (max-width: $md4+px) {
			grid-column: span 2;
		}
	}

	&__video {
		width: 100%;
		border-radius: var(--adaptive-13);
	}

	&__goods {
	}
}

.description {
	@media (max-width: $md4+px) {
		grid-column: span 2;
	}
	&__tabs {
		position: relative;
		display: flex;
		column-gap: var(--adaptive-31);
	}

	._tabs-indicator {
		transition-duration: var(--transition);
		position: absolute;
		height: 2px;
		width: var(--adaptive-43);
		background-color: #fff;
		bottom: calc(0px - var(--adaptive-16));
	}

	&__tab {
		transition-duration: var(--transition);
		font-weight: 400;
		display: flex;
		align-items: center;
		padding-top: var(--adaptive-25);
		&._active {
			font-weight: 500;
		}
		&:not(._active) {
			color: var(--text-second);
		}
	}

	&__count {
		color: var(--not-white);
		$fs: 10;
		font-size: math.div($fs, $fz) + em;
		$lh: 12;
		line-height: math.div($lh, $fs);
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--adaptive-19);
		height: var(--adaptive-19);
		margin-right: var(--adaptive-4);
		margin-left: var(--adaptive-16);
		border-radius: var(--adaptive-4);
		&--comments {
			background-color: var(--main);
		}

		&--questions {
			background-color: var(--dark--black);
		}
	}

	&__info {
		margin-top: var(--adaptive-49);
	}

	&__text {
		color: var(--text-second);
		$fs: 16;
		font-size: math.div($fs, $fz) + em;
		$lh: 25;
		line-height: math.div($lh, $fs);
		font-weight: 400;
		letter-spacing: 0.32px;
		padding-right: var(--adaptive-4);
	}

	&__table {
	}
}

.description-table {
	margin-top: var(--adaptive-19);
	padding: var(--adaptive-7) 0;
	background-color: var(--light--black);
	border-spacing: 0;
	border-radius: var(--adaptive-13);
	@media (max-width: $md4+px) {
		width: 100%;
		margin-top: var(--adaptive-31);
		margin-bottom: var(--adaptive-40);
	}
	&__row {
		&:not(:last-child) .description-table__ceil {
			border-bottom: var(--adaptive-1) solid var(--light);
		}
	}

	&__ceil {
		$fs: 16;
		font-size: math.div($fs, $fz) + em;
		$lh: 16;
		line-height: math.div($lh, $fs);
		font-weight: 500;
		vertical-align: top;
		padding: var(--adaptive-25) var(--adaptive-49);
		&:not(:last-child) {
			border-right: var(--adaptive-1) solid var(--light);
		}
	}

	&__title {
		color: var(--text-second);
		font-weight: 400;
		display: block;
		margin-bottom: var(--adaptive-13);
	}
}

.mini-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: visible;
	flex-shrink: 0;
	@include common-value('flex-basis', 66);
	@include common-value('height', 280);
	margin-right: var(--adaptive-37);
	margin-left: var(--adaptive-10);
	margin-bottom: var(--adaptive-79);
	& img {
		transition-duration: var(--transition);
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: var(--adaptive-10);
	}

	& .swiper-slide {
		display: flex;
		align-items: center;
		visibility: hidden;
		& img {
			opacity: 0;
		}
		&-visible {
			visibility: visible;
			& img {
				opacity: 1;
			}
		}
		&-thumb-active {
			& img {
				box-shadow: 0 0 0 5px var(--light--dark), 0 0 0 6px var(--dark--light);
			}
		}
	}

	&__navigation {
		z-index: 1;
		margin-top: var(--adaptive-16);
	}

	&__next {
		transform: rotate(180deg);
	}

	&__prev,
	&__next {
		pointer-events: auto;
		$fs: 14;
		font-size: math.div($fs, $fz) + em;
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--adaptive-22);
		height: var(--adaptive-22);
		margin-bottom: var(--adaptive-10);
		border-radius: 50%;
		background: var(--dark--black);
		&.swiper-button-disabled {
			color: var(--dark--black);
			background-color: #ffffff;
		}
	}
	@media (max-width: $md4+px) {
		display: none;
	}
}

.main-slider {
	height: 100%;
	&__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $md4+px) {
			border-radius: 30px;
			overflow: hidden;
		}
	}
	& img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		@media (max-width: $md4+px) {
			border-radius: 30px;
		}
	}
}
