@use 'sass:math';
.category {
	&__container {
	}

	&__catalog {
		display: flex;
		align-items: flex-start;
		@include common-value('column-gap', 50);
	}

	&__description {
	}
}

.description {
	@include common-value('margin-top', 100);
	@include common-value('padding-left', 21);
	&__h2 {
		font-family: 'CoreSansC';
		$fs: 28;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.56px;
		position: relative;
		@include common-value('margin-top', 100);
		@include common-value('margin-bottom', 30);
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			@include common-value('left', -21);
			translate: 0 -50%;
			@include common-value('width', 6);
			height: 83.6%;
			background-color: var(--main);
		}
	}
	&__h3 {
		color: var(--TextGray);
		font-family: 'CoreSansC';
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.4px;
		@include common-value('margin-bottom', 25);
	}

	&__p {
		color: var(--TextGray);
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		font-weight: 400;
		letter-spacing: 0.4px;
		@include common-value('margin-bottom', 20);
	}

	&__table {
		@include common-value('--padding', 17);
		@include common-value('--bigPadding', 41);
		@include common-value('--firstElPadding', 84);
		width: 100%;
		@include common-value('margin-top', 50);
		background-color: var(--notWhite);
		border-collapse: collapse;
		@include common-value('border-radius', 12);
	}

	&__td,
	&__th {
		$fs: 24;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.48px;
		text-align: center;
		padding: var(--padding);
		border-left: 1px solid var(--border);

		&--first-element {
			text-align: left;
			border-left: none;
			@media (min-width: $md3+px) {
				padding-left: var(--firstElPadding);
			}
		}
	}

	&__th {
		padding-top: var(--bigPadding);
		padding-bottom: var(--bigPadding);
		border-bottom: 1px solid var(--border);
	}

	&__td {
		color: var(--TextGray);
		font-weight: 400;
		&--under-th {
			padding-top: var(--bigPadding);
		}
		&--last-row {
			padding-bottom: var(--bigPadding);
		}
	}

	&__see-more-link {
		transition-duration: var(--transition);
		color: var(--TextGray);
		font-family: 'CoreSansC';
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.4px;
		@include common-value('margin-bottom', 25);
		@media (hover: hover) {
			&:hover {
				color: var(--TextDark);
			}
		}
		&:active,
		&:focus-visible {
			color: var(--TextDark);
		}
	}
}
