@use 'sass:math';
.category {
	&__container {
	}

	&__catalog {
		display: flex;
		align-items: flex-start;
		column-gap: var(--adaptive-49);
	}

	&__description {
	}
}

.description {
	margin-top: var(--adaptive-100);
	padding-left: var(--adaptive-22);
	&__h2 {
	}
	&__h3 {
		color: var(--text-second);
		font-family: 'CoreSansC';
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.4px;
		margin-bottom: var(--adaptive-25);
	}

	&__p {
		color: var(--text-second);
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		font-weight: 400;
		letter-spacing: 0.4px;
		margin-bottom: var(--adaptive-19);
	}

	&__table {
		@include common-value('--negativeMargin', -21);
		width: 100%;
		margin-top: var(--adaptive-49);
		background-color: var(--light--black);
		border-collapse: collapse;
		border-radius: var(--adaptive-13);
		@media (max-width: $md3+px) {
			margin-left: var(--negativeMargin);
			width: calc(100% - var(--negativeMargin));
		}
	}

	&__td,
	&__th {
		$fs: 24;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.48px;
		text-align: center;
		padding: var(--adaptive-16);
		border-left: 1px solid var(--border);

		&--first-element {
			text-align: left;
			border-left: none;
			padding-left: calc(0px - var(--negativeMargin));
			@media (min-width: $md3+px) {
				padding-left: var(--adaptive-85);
			}
		}
	}

	&__th {
		padding-top: var(--adaptive-40);
		padding-bottom: var(--adaptive-40);
		border-bottom: var(--adaptive-1) solid var(--border);
	}

	&__td {
		color: var(--text-second);
		font-weight: 400;
		&--under-th {
			padding-top: var(--adaptive-40);
		}
		&--last-row {
			padding-bottom: var(--adaptive-40);
		}
	}

	&__see-more-link {
		transition-duration: var(--transition);
		color: var(--text-second);
		font-family: 'CoreSansC';
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		$lh: 33.5;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.4px;
		margin-bottom: var(--adaptive-25);
		@media (hover: hover) {
			&:hover {
				color: var(--text-main);
			}
		}
		&:active,
		&:focus-visible {
			color: var(--text-main);
		}
	}
}
