@use 'sass:math';
.filter {
	@include common-value('--filter', 295);
	transition: all var(--transition) ease-in;
	color: var(--text-second);
	background-color: var(--white--dark);
	border-right: 1px solid var(--border);
	border-left: 1px solid var(--border);
	@media (min-width: $md3+px) {
		width: var(--filter);
	}
	@media (max-width: $md3+px) {
		z-index: 2;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		&._active {
			visibility: visible;
			left: 0;
		}
	}
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-top: var(--adaptive-20);
		padding-right: var(--adaptive-30);
		padding-bottom: var(--adaptive-20);
		padding-left: var(--adaptive-30);
		border-bottom: 1px solid var(--border);
		&:not(:first-child) {
			@media (hover: hover) {
				&:hover {
					color: var(--text-main);
				}
			}
			&:focus-visible {
				color: var(--text-main);
				& .filter__name {
					letter-spacing: 0.1em;
				}
			}
		}
		&._active {
			& .filter__icon {
				transform: rotateX(0deg);
			}
		}
	}

	&__name {
		transition: var(--transition);
		$fs: 22;
		font-size: math.div($fs, $fz) + rem;
		$lh: 26;
		line-height: math.div($lh, $fs);
		letter-spacing: 0.44px;
	}

	&__icon {
		transition-duration: 0.3s;
		$fs: 22;
		font-size: math.div($fs, $fz) + rem;
		transform: rotateX(180deg);
	}

	&__body {
		padding-top: var(--adaptive-40);
		@include common-value('padding-right', 24);
		padding-bottom: var(--adaptive-40);
		padding-left: var(--adaptive-32);
		border-bottom: 1px solid var(--border);
	}

	&__categories-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: var(--adaptive-18);
	}

	&__category-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (hover: hover) {
			&:hover {
				color: var(--text-main);
			}
		}
		&:active,
		&:focus-visible {
			& .filter__category-name {
				letter-spacing: 0.1em;
				color: var(--text-main);
			}
		}
	}

	&__category-name {
		transition-duration: var(--transition);
		$lh: 19;
		line-height: math.div($lh, $fz);
	}

	&__category-icon {
		$fs: 19;
		font-size: math.div($fs, $fz) + rem;
		transform: rotate(90deg);
	}

	&__prices-wrapper {
		padding-left: var(--adaptive-2);
		padding-right: var(--adaptive-12);
	}

	&__price-line {
		position: relative;
		width: 100%;
		height: 15px;
		@include common-value('margin-bottom', 26);
		background: linear-gradient(90deg, var(--border) var(--start-price), var(--main) var(--start-price) var(--end-price), var(--border) 0) 0 50% / 100% 3px no-repeat;
	}

	&__price-round {
		transition: background-color var(--transition) linear, box-shadow var(--transition) linear;
		position: absolute;
		top: 50%;
		translate: -50% -50%;
		width: 16px;
		height: 16px;
		background-color: var(--main);
		border-radius: 50%;
		&:focus {
			z-index: 1;
			box-shadow: var(--not-white) 0 0 0 3px;
		}

		&--one {
			left: var(--start-price);
			translate: -100% -50%;
		}
		&--two {
			left: var(--end-price);
			translate: 0 -50%;
		}
	}

	&__price-inputs-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__price-input {
		transition-duration: var(--transition);
		$lh: 19;
		line-height: math.div($lh, $fz);
		text-align: center;
		width: 97px;
		height: var(--adaptive-32);
		border: 1px solid var(--border);
		border-radius: var(--adaptive-8);
		@media (max-width: $md3+px) {
			width: 45%;
		}
		&:focus {
			color: var(--text-main);
			border-color: var(--dark--light);
		}
	}

	&__colors-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, var(--adaptive-37));
		column-gap: var(--adaptive-20);
		row-gap: var(--adaptive-18);
		padding-left: var(--adaptive-7);
	}

	&__color-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (hover: hover) {
			&:hover {
				& .filter__color-square {
					transform: scale(1.1);
				}
			}
		}
		&:focus-visible {
			& .filter__color-square {
				transform: scale(1.1);
			}
		}
		&._active {
			& .filter__color-square {
				border: 2px solid var(--dark--light);
				box-shadow: var(--light--dark) 0 0 0 2px inset;
			}
		}
	}

	&__color-square {
		transition-duration: 0.1s;
		width: 100%;
		aspect-ratio: 1;
		border-radius: var(--adaptive-8);
		border: 1px solid var(--border);
	}

	&__color-sign {
		$fs: 14;
		font-size: math.div($fs, $fz) + rem;
		$lh: 17;
		line-height: math.div($lh, $fs);
		text-transform: capitalize;
		margin-top: var(--adaptive-18);
	}

	&__sizes-wrapper {
		display: grid;
		@include common-value('--width', 61);
		grid-template-columns: repeat(auto-fill, var(--width));
		column-gap: var(--adaptive-20);
		row-gap: var(--adaptive-18);
		padding-left: var(--adaptive-3);
	}

	&__size {
		transition-duration: var(--transition);
		color: var(--text-main);
		$fs: 14;
		font-size: math.div($fs, $fz) + rem;
		$lh: 17;
		line-height: math.div($lh, $fs);
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		border-radius: var(--adaptive-8);
		border: 1px solid var(--border);
		padding-top: var(--adaptive-9);
		padding-bottom: var(--adaptive-6);
		@media (hover: hover) {
			&:hover {
				box-shadow: var(--dark--light) 0 0 0 1px;
			}
		}
		&:focus-visible {
			box-shadow: var(--dark--light) 0 0 0 1px;
		}
		&._active {
			color: var(--light--dark);
			background-color: var(--dark--light);
		}
	}
}

.filter-button {
	z-index: 3;
	cursor: pointer;
	$fs: 20;
	font-size: math.div($fs, $fz) + rem;
	line-height: 1;
	position: fixed;
	bottom: 100px;
	right: 20px;
	padding: var(--adaptive-12);
	border-radius: var(--adaptive-8);
	background-color: var(--light--dark);
	border: 1px solid var(--border);
	@media (min-width: $md3+px) {
		display: none;
	}
	@media (hover: hover) {
		&:hover {
			box-shadow: var(--dark--light) 0 0 0 1px inset, var(--light--dark) 0 0 0 2px inset;
		}
	}
	&:focus-visible {
		color: var(--not-white);
		background-color: var(--main);
	}
	&._active:not(:focus-visible) {
		color: var(--light--dark);
		background-color: var(--dark--light);
	}
}
