@use 'sass:math';
.goods {
	flex-grow: 1;
	@media (max-width: $md3+px) {
		width: 100%;
	}
	&__top {
		$fs: 22;
		font-size: math.div($fs, $fz) + em;
		$lh: 26;
		line-height: math.div($lh, $fs);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: var(--adaptive-19);
		margin-top: var(--adaptive-49);
		margin-bottom: var(--adaptive-49);
	}

	&__title {
	}

	&__filtration {
		display: flex;
		column-gap: var(--adaptive-25);
	}

	&__filter {
		transition-duration: var(--transition);
		&._active {
			cursor: auto;
		}
		@media (hover: hover) {
			&:hover {
				color: var(--main);
			}
		}
		&._active,
		&:focus-visible {
			color: var(--main);
		}
		&:focus-visible {
			box-shadow: var(--main) 0 3px 0 -1px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
		justify-content: space-between;
		row-gap: var(--adaptive-49);
		column-gap: 2.739%;
		@media (max-width: $md5+px) {
			grid-template-columns: repeat(2, 48.6305%);
		}
	}

	&__card {
		position: relative;
		@media (hover: hover) {
			&:has(.goods__card-link:hover) {
				& .goods__card-img {
					transform: scale(1.1);
				}
			}
			&:has(.goods__icon-favorite:hover) {
				& .goods__card-img {
					transform: scale(1.1);
				}

				& .goods__card-link {
					color: var(--hover);
				}
			}
		}
		&:has(.goods__card-link:focus-visible) {
			& .goods__card-img {
				transform: scale(1.1);
			}
		}
	}

	&__card-image {
		transition-duration: var(--transition);
		overflow: hidden;
		position: relative;
		aspect-ratio: 282/370;
		border-radius: var(--adaptive-13);
	}

	&__card-img {
		transition-duration: var(--transition);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__icon-favorite {
		z-index: 1;
		cursor: pointer;
		transition-duration: var(--transition);
		color: var(--dark);
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
		@media (max-width: $md5+px) {
			font-size: 2.6vw;
		}
		position: absolute;
		top: var(--adaptive-28);
		right: var(--adaptive-22);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 11.5%;
		aspect-ratio: 1;
		background-color: var(--not-white);
		border-radius: 50%;
		@media (hover: hover) {
			&:hover {
				box-shadow: var(--not-white) 0 0 0 2px, var(--main) 0 0 0 4px;
			}
		}
		&._active {
			color: var(--not-white);
			background-color: var(--main);
		}
		&:focus-visible {
			box-shadow: var(--not-white) 0 0 0 2px, var(--main) 0 0 0 4px;
		}
	}

	&__card-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: var(--adaptive-31);
	}

	&__card-text {
		white-space: nowrap;
		overflow: hidden;
	}

	&__card-title {
		overflow: hidden;
		text-overflow: ellipsis;
		$fs: 16;
		font-size: math.div($fs, $fz) + em;
		$lh: 19;
		line-height: math.div($lh, $fs);
		margin-bottom: var(--adaptive-4);
	}

	&__card-link {
		transition-duration: var(--transition);
		@media (hover: hover) {
			&:hover {
				color: var(--hover);
			}
		}
		&:active,
		&:focus-visible {
			color: var(--hover);
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__card-brand {
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--text-second);
		$fs: 14;
		font-size: math.div($fs, $fz) + em;
		$lh: 17;
		line-height: math.div($lh, $fs);
		font-weight: 500;
	}

	&__card-price {
		color: var(--dark);
		$fs: 14;
		font-size: math.div($fs, $fz) + em;
		$lh: 17;
		line-height: math.div($lh, $fs);
		font-weight: 700;
		padding: var(--adaptive-10) var(--adaptive-19) var(--adaptive-10) var(--adaptive-19);
		background-color: var(--light);
		border-radius: var(--adaptive-7);
	}
}
