@use 'sass:math';
.header {
	width: 100%;
	@media (min-width: $md3+px) {
		border-bottom: 1px solid var(--border);
	}
	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
		@include common-value('column-gap', 12);
		@include common-value('padding-top', 31);
		@include common-value('padding-bottom', 32);
		@media (max-width: $md3+px) {
			row-gap: 10px;
		}
	}

	&__logo-link {
		@include common-value('height', 45);
		@include common-value('margin-right', 30);
	}

	&__logo-link-img {
		height: 100%;
	}

	&__menu-wrapper {
		width: 100%;
		overflow: visible;
		flex-grow: 1;
		@media (min-width: $md3+px) {
			margin-top: 4px;
			margin-right: 23px;
		}
		@media (max-width: $md3+px) {
			order: 2;
			flex-basis: 100%;
			padding-top: 17px;
			border-top: 1px solid var(--border);
			&:before,
			&::after {
				z-index: 2;
				content: '';
				position: absolute;
				top: 0;
				width: 1000px;
				height: 100%;
				background: linear-gradient(90deg, #ffffff 985px, transparent 100%);
			}
			&:before {
				left: -1000px;
			}
			&::after {
				right: -1000px;
				background: linear-gradient(90deg, transparent 0, #ffffff 15px);
			}
		}
	}

	&__menu-list {
		width: 100%;
		display: flex;
		@media (min-width: $md3+px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			flex-grow: 1;
			justify-content: space-between;
		}
	}

	&__menu-item {
		width: auto;
		@include common-value('margin-top', 3);
		@include common-value('margin-bottom', 3);
		&:not(:last-child) {
			@include common-value('margin-right', 40);
		}
	}

	&__menu-link {
		transition-duration: var(--transition);
		color: var(--TextGray);
		$fs: 22;
		font-size: math.div($fs, $fz) + em;
		&--active {
			color: var(--TextDark);
			font-weight: 700;
		}
		@media (hover: hover) {
			&:hover {
				color: var(--TextDark);
			}
		}
		&:focus-visible,
		&:active {
			color: var(--TextDark);
		}
		&:focus-visible {
			box-shadow: #ffffff 0 5px 0 0, var(--dark) 0 8px 0 -1px;
		}
	}

	&__search-wrapper {
		display: flex;
		align-items: center;
		@include common-value('column-gap', 12);
		@include common-value('min-width', 267);
		@include common-value('padding-top', 12);
		@include common-value('padding-right', 20);
		@include common-value('padding-bottom', 12);
		@include common-value('padding-left', 20);
		@include common-value('border-radius', 8);
		background-color: var(--notWhite);
		@media (min-width: $md3+px) {
			margin-right: 63px;
		}
		@media (min-width: $md5+px) {
			margin-left: auto;
		}
		@media (max-width: $md5+px) {
			order: 1;
			flex-basis: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			&:not(._active) {
				opacity: 0;
				visibility: hidden;
				height: 0;
				padding: 0;
				margin: 0;
			}
		}
		@media (hover: hover) {
			&:hover {
				&::before {
					color: var(--TextDark);
				}
			}
		}
		&:has(.header__search-input:focus) {
			&::before {
				color: var(--TextDark);
			}
		}
		&::before {
			color: var(--TextGray);
			$fs: 20;
			font-size: math.div($fs, $fz) + em;
			line-height: 1;
		}
	}

	&__search-input {
		$lh: 20;
		line-height: math.div($lh, $fz);
		transform: translateY(8%);
		display: flex;
		&::placeholder {
			color: var(--TextGray);
		}
	}

	&__icons-wrapper {
		display: flex;
		align-items: center;
		@include common-value('column-gap', 12);
	}

	&__icon {
		cursor: pointer;
		transition-duration: var(--transition);
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		line-height: 1;
		@include common-value('padding', 12);
		@include common-value('border-radius', 8);
		background-color: var(--notWhite);
		@media (hover: hover) {
			&:hover {
				color: var(--notWhite);
				background-color: var(--dark);
			}
		}
		&._active,
		&:active,
		&:focus-visible {
			color: var(--notWhite);
			background-color: var(--dark);
		}
		&--search {
			@media (min-width: $md5+px) {
				display: none;
			}
		}
	}
}
