@use 'sass:math';
.header {
	width: 100%;
	@media (min-width: $md3+px) {
		border-bottom: 1px solid var(--border);
	}
	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: var(--adaptive-10);
		padding-top: var(--adaptive-31);
		padding-bottom: var(--adaptive-31);
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__logo-link {
		transition-duration: var(--transition);
		@include common-value('height', 45);
		margin-right: var(--adaptive-31);
		&:focus-visible {
			transform: scale(1.2);
		}
	}

	&__logo-link-svg {
		height: 100%;
		fill: var(--dark--light);
	}

	&__search-wrapper {
		display: flex;
		align-items: center;
		column-gap: var(--adaptive-13);
		@include common-value('min-width', 267);
		padding-top: var(--adaptive-13);
		padding-right: var(--adaptive-19);
		padding-bottom: var(--adaptive-13);
		padding-left: var(--adaptive-19);
		border-radius: var(--adaptive-7);
		background-color: var(--light--dark);
		@media (min-width: $md3+px) {
			margin-right: 63px;
		}
		@media (min-width: $md5+px) {
			margin-left: auto;
		}
		@media (max-width: $md5+px) {
			order: 1;
			flex-basis: 100%;
			margin-top: 20px;
			&:not(._active) {
				opacity: 0;
				visibility: hidden;
				height: 0;
				padding: 0;
				margin: 0;
			}
		}
		@media (hover: hover) {
			&:hover {
				box-shadow: 0 0 0 1px var(--border);
				&::before {
					color: var(--text-main);
				}
			}
		}
		&:has(.header__search-input:focus) {
			box-shadow: 0 0 0 1px var(--border);
			&::before {
				color: var(--text-main);
			}
		}
		&::before {
			color: var(--text-second);
			$fs: 20;
			font-size: math.div($fs, $fz) + em;
			line-height: 1;
		}
	}

	&__search-input {
		$lh: 20;
		line-height: math.div($lh, $fz);
		transform: translateY(8%);
		flex-grow: 1;
		&::placeholder {
			color: var(--text-second);
		}
	}

	&__icons-wrapper {
		display: flex;
		align-items: center;
		column-gap: var(--adaptive-10);
	}

	&__icon {
		cursor: pointer;
		transition-duration: var(--transition);
		$fs: 20;
		font-size: math.div($fs, $fz) + em;
		line-height: 1;
		padding: var(--adaptive-13);
		border-radius: var(--adaptive-7);
		background-color: var(--light--dark);
		@media (hover: hover) {
			&:hover {
				color: var(--not-white);
				background-color: var(--dark--black);
			}
		}
		&._active,
		&:active,
		&:focus-visible {
			color: var(--not-white);
			background-color: var(--dark--black);
		}
		&--search {
			@media (min-width: $md5+px) {
				display: none;
			}
		}
	}
}

.menu {
	width: 100%;
	overflow: visible;
	flex-grow: 1;
	@media (min-width: $md3+px) {
		margin-top: var(--adaptive-4);
		margin-right: 23px;
		margin-left: 47px;
	}
	@media (max-width: $md3+px) {
		flex-basis: 100%;
		margin-top: 10px;
		padding-top: 17px;
		border-top: 1px solid var(--border);
		&:before,
		&::after {
			z-index: 2;
			content: '';
			position: absolute;
			top: 0;
			width: 1000px;
			height: 100%;
			background: linear-gradient(90deg, var(--white--dark) 985px, transparent 100%);
		}
		&:before {
			left: -1000px;
		}
		&::after {
			right: -1000px;
			background: linear-gradient(90deg, transparent 0, var(--white--dark) 15px);
		}
	}

	&__list {
		width: 100%;
		display: flex;
		@media (min-width: $md3+px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			flex-grow: 1;
			justify-content: space-between;
		}
	}

	&__item {
		width: auto;
		margin-top: var(--adaptive-4);
		margin-bottom: var(--adaptive-4);
		&:not(:last-child) {
			margin-right: var(--adaptive-40);
		}
	}

	&__link {
		transition-duration: var(--transition);
		color: var(--text-second);
		$fs: 22;
		font-size: math.div($fs, $fz) + em;
		&--active {
			cursor: auto;
			color: var(--text-main);
			font-weight: 700;
		}
		@media (hover: hover) {
			&:not(.menu__link--active):hover {
				color: var(--dark--main);
			}
		}
		&:focus-visible,
		&:not(.menu__link--active):active {
			color: var(--dark--main);
		}
		&:focus-visible {
			box-shadow: var(--light--dark) 0 5px 0 0, var(--dark--main) 0 8px 0 -1px;
		}
	}

	&__button-next {
		right: 0;
		translate: calc(100% + var(--swiper-navigation-size) / 2) 7.3px;
	}

	&__button-prev {
		left: 0;
		translate: calc(-100% - var(--swiper-navigation-size) / 2) 7.3px;
	}

	& .swiper-button-disabled {
		opacity: 0;
	}
}
