header.header
	.header__container._container
		.header__body
			a.header__logo-link(href='#page')
				+justImg('/img/logo', 'svg', 'header__logo-link-img', 'logo', 'кликните чтобы перейти на самый верх страницы')
			nav.header__menu-wrapper.swiper
				ul.header__menu-list.swiper-wrapper
					li.header__menu-item.swiper-slide
						a.header__menu-link(href='/') Shop
					li.header__menu-item.swiper-slide
						a.header__menu-link(href='/') Men
					li.header__menu-item.swiper-slide
						a.header__menu-link.header__menu-link--active(href='/') Women
					li.header__menu-item.swiper-slide
						a.header__menu-link(href='/') Combos
					li.header__menu-item.swiper-slide
						a.header__menu-link(href='/') Joggers					
			search.header__search-wrapper._icon-search
				input.header__search-input(type="search" aria-label="Поиск по сайту" placeholder="Search")
			.header__icons-wrapper
				button.header__icon.header__icon--search._icon-search(aria-label="Открыть поиск")
				button.header__icon._icon-heart(aria-label="Избранное")
				button.header__icon._icon-user(aria-label="Личный кабинет")
				button.header__icon.header__icon--basket._icon-shoppingart(aria-label="Корзина")